<h1>Editing Gallery</h1>

<%= render 'form' %>





 <% @gallery.photos.each do |photo| %>

 <%= image_tag photo.image.url(:thumb),:class =>'img-responsive' %>
 
 <%end%>


            


<%= link_to 'Show', @gallery %> |
<%= link_to 'Back', galleries_path %>
